# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

# Local Files
*.backup

# Terraform local vars
terraform.tfvars
*.terraform.tfstate.lock.info
*.safe.tf

# Ansible local
*.retry
