# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

# Local Files
Makefile
*.backup

# Terraform local vars
terraform.tfvars
*.terraform.tfstate.lock.info
*.safe.tf
*.safe.tfvars

# Ansible local
*.retry

# OS Files
# OS X
*.DS_Store
.DS_Store
.DS_Store*

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Linux stuff you don't want
.Trash*
.thumbnails

# Dropbox
.dropbox
.dropbox.attr
.dropbox.cache

# MySQL DB credentials shouldn't be in the repo
platform-db

# For Sebastian
./komodoproject
